<%- include('../partials/header'); -%>
<style>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	h1 {
		color: #2e1e15;
	}
	.submit-button {
		display: block;
		width: 93%;
		padding: 0.75rem;
		background: #2e1e15;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
	}
	.form {
		margin-top: 8%;
	}
	@media (max-width: 960px) {
		.img {
			display: none;
		}
	}
</style>
<div class="row">
	<div class="container-md col-sm-12 form col-lg-4 col-md-6 px-8 pt-4 mx-auto">
		<h1 class="mt-5 text-center">Log In</h1>
		<form class="mt-5">
			<div class="m-3">

				<input
					type="email"
					class="form-control"
					id="InputEmail"
					aria-describedby="emailHelp"
					placeholder="Your Email_Id"
					required
				/>
			</div>
			<div class="m-3">
				<input
					type="password"
					class="form-control"
					id="InputPassword1"
					placeholder="Your Password"
					required
				/>
			</div>
			<div class="m-3 form-check">
				<input
					type="checkbox"
					class="form-check-input mx-2"
					id="showPass"
				/>
				<label class="form-check-label" for="showPass"
					>Show Password</label
				>
			</div>
			<button type="submit" class="m-3 btn submit-button">Submit</button>
		</form>
	</div>
	<div class="col-lg-8 col-md-6">
		<img src="https://dummyimage.com/1000x800/F3F4F7/64748b" alt="" />
	</div>
</div>
<script>
	const togglePassword = document.getElementById('showPass');

	const showOrHidePassword = () => {
		const password = document.getElementById('InputPassword1');
		if (password.type === 'password') {
			password.type = 'text';
		} else {
			password.type = 'password';
		}
	};

	togglePassword.addEventListener('change', showOrHidePassword);
</script>
<%- include('../partials/footer'); -%>
